@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: #18379c;
}




/* Header styling goes here */

header {
    background-color: #fff;
    height: 20vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
    padding-top: 40px;
    padding-left: 50px;
    font-size: 3pc;
    font-family: sans-serif;
    display: flex;
    font-weight: bold;
}


/*############Ends here########## */


/***********Start of Container contents************ */

.contents {
    display: flex;
    position: relative;
    justify-content: space-between;
}

    #superleft {
        color: tomato;
        text-align: center;
        font-size: 2pc;
        
        width: 50%;
        background-image: linear-gradient(to bottom, black, transparent);
        box-shadow: 5px 5px 25px black;
    }
    #MIstats{
        padding: 10px;
        color: #fff;
        background-color: #81a934;
        font-weight: bold;
        border-radius: 10px;
    }
    #MIstats:hover{
     color: black;
    }

    #superright {
        width: 50%;
        padding: 10px 30px;
        justify-content: center;
    }

    #superright h1{
        color: goldenrod;
        text-align: center;
        font-size: 2pc;

    }
    #superright #form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 30px;
    }
    #superright #form label{
        text-align: center;
        font-size: 1.5pc;
        font-weight: bold;
        margin: 3px;
        color: #fff;
    }

    #superright #form input{
        border-radius: 10px;
        border: none;
        padding: 10px;
        font-size: 1.2pc;
    }
    #superright #form input:focus{
        /* remove focus border */
        outline: none;

    }
    #totals{
        align-items: center;
        margin: auto;
        width: 20%;
        position: relative;
        left: 38%;
        border-radius: 45%;
        padding: 30px;
        border: none;
        background-color:tomato;
        color: white;
        font-size: 24px;
        font-weight: bold;
        box-shadow: 10px 10px 25px black;
    }
    #totals:hover{
        color: black;
    }
    .sums{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #daily,#weekly{
        height: 380px;
        padding: 10px;
        width: 45%;
        position: relative;
        top: 15px;
        gap: 5px;
        margin: auto;
        box-shadow: 10px 10px 30px #7FAA36;
    }
    #daily{
        background-image: linear-gradient(to right, black, transparent);
        text-align: center;
        
    }
    table {
        display: flex;
        justify-content: space-between;
        color: white;
        font-size: 1.5pc;
        font-weight: bold;
    }
    td{
        text-align: center;
    }
    #weekly{
        background-image: linear-gradient(to left, black, transparent);
    }
    /*#######End of Container########## */

/************** Footer styling starts here****************** */
